<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
</head>
<body>
    <h3>About me</h3>
    <hr>
    <style>
        h3 {background-color: grey;}
    </style>
    <p>Saya mahasiswa Universitas Islam Madura fakultas Teknik prodi Teknik Informatika, saya mengambil jurusan ini krn saya ingin melanjutkan study saya dari SMK. saya mengambil teknik bukan karena gaya tapi saya ingin bergabung menajadi seorang IT, saya berpikir bahawa belajar IT itu mudah tapi ternyata ekxpetasi saya teralalu tinggi untuk memahami tentang IT, tetapi saya lebih suka membahas jaringan daripada coding dan yaaa mau dk mau saya harus tau coding juga. <br>
            The End</p>
    <a href="{% url 'home' %}">BACK HOME</a>
    <style>
        a {
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 15px;
            background-color:grey;
            margin: 5px;
            border: 3px solid black;
            padding: 5px;
            text-decoration: none;
        }
    </style>
</body>
</html>