<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
</head>
<body>
    <h3>History</h3>
    <hr>
    <style>
        h3 {background-color: grey;}
    </style>
    <p>Saya yang merasa benar-benar kuliah itu pas sudah semester 3.<br> 
        Awal saya semester 3 langsung merasa hidup saya (aseek) beratt tapi lebih berat dosa saya,<br>
        tapi di semester 3 inilah jati diri mandiri saya terbentuk, saya menjadi tau arti belajar otodidak itu penting(tapi saya belajar dari youtube), jadi yaaa begitu.<br><strong>TERIMAKASIIIHH</strong></p>
    <a href="{% url 'home' %}">BACK HOME</a>
    <style>
        a {
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 15px;
            background-color:grey;
            margin: 5px;
            border: 3px solid black;
            padding: 5px;
            text-decoration: none;
        }
    </style>
</body>
</html>