{% extends "home.html" %}

{% block title%}
curriculum vitae
{%endblock title%}

{%block menu%}
<h3> Curriculum vitae </h3>  
<hr>
<style>
    h3 {background-color: grey;}
</style>
<p>Nama      : RoyhatuL Jannatul Mufida</p>
<p>tetala    : Jember, 14 Agustus 2004</p>
<p>Hobby     : hahahihii</p>
<p>Cita-cita : Masuk surga</p>
<p>Fakultas  : Teknik</p>
<p>Prodi     : TTeknik Informatika</p>
<p>Ig        : mufidajeje14_</p>
<p>Yt        : @Royhatul Jannatul Mufida</p>
<a href="{% url 'home' %}">BACK HOME</a>
<style>
    a {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        background-color:grey;
        margin: 5px;
        border: 3px solid black;
        padding: 5px;
        text-decoration: none;
    }
</style>
{%endblock menu%}

{%block content%}

{%endblock content%}

